<div id="navbar-wrapper" style="position: fixed;" >
    <nav class="navbar navbar-inverse bg-primary">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/"><h3 class="navbar-brand">BARAK VALLEY ENGINEERING COLLEGE </h3></a>
            </div>
        </div>
    </nav>
</div>